.cart{
    position: sticky;
    top: 0;
}

.btn-1{
    width:80%;
    border: none;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: tomato;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.btn-1:hover{
    background: red;
}